
body {
    background-color: rgb(219, 238, 255);
    overflow-x: hidden;
}
.delicious{
    margin-left: 0.5cm;
    font-size: 40px;
}
.phone-nav-btn{
    display: none;
}
.phone-nav-btn-two{
    display: none;
}
.phone-navbar{
    display: none;
}
.navbar{
    display: inline-flex;
    background-color: rgb(219, 238, 255);
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
}
.nav-home{
    margin-left: 9cm;
    margin-top: 0.5cm;
    text-decoration: none;
    color: black;
}
.navdropdown{
    border: none;
    margin-bottom: 0.65cm;
    margin-left: 1cm;
    margin-top: 0.45cm;
    text-decoration: none;
    color: black;
    background-color: rgb(219, 238, 255);
}
.nav-events{
    margin-left: 1cm;
    margin-top: 0.5cm;
    text-decoration: none;
    color: black;
}
.nav-gallery{
    margin-left: 1cm;
    margin-top: 0.5cm;
    text-decoration: none;
    color: black;
}
.nav-about{
    margin-left: 1cm;
    margin-top: 0.5cm;
    text-decoration: none;
    color: black;
}
.nav-contact{
    margin-left: 1cm;
    margin-top: 0.5cm;
    text-decoration: none;
    color: black;
}
.nav-btn{
    margin-left: 4cm;
    height: 1cm;
    width: 3.5cm;
    margin-top: 0.65cm;
    background-color: rgb(235, 38, 38);
    border-radius: 20px;
    border: none;
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 0.05cm;
    font-weight: 900;
    transition: 1s;
    cursor: pointer;
    border: 0.05cm solid black;
}
.middle-btn{
    height: 1cm;
    width: 3.5cm;
    background-color: rgb(235, 38, 38);
    border-radius: 20px;
    border: none;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 0.05cm;
    font-weight: 900;
    transition: 1s;
    border: 0.05cm solid black;
    cursor: pointer;
}
.middle-btn:hover{
    color: rgb(235, 38, 38);
    background-color: rgb(219, 238, 255);
}
.nav-btn:hover{
    color: rgb(235, 18, 18);
    background-color: rgb(219, 238, 255); 
}
.middle-div{
    display: inline-flex;
    margin-top: 2.5cm;
}
.middle-sub-div{
    margin-top: 3cm;
    margin-left: 1cm;
}
.line-one{
    height: 13.5cm;
    width: 13.5cm;
    background-color: transparent;
    margin-left: 6cm;
    margin-top: 1cm;
    border: 3px solid black;
    border-top-right-radius: 200px;
    border-top-left-radius: 250px;
    border-bottom-left-radius: 250px;
    border-bottom-right-radius: 150px;
    animation: rotate 50s linear infinite;
    z-index: 0;
}
.line-two{
    height: 13.5cm;
    width: 13.5cm;
    background-color: transparent;
    margin-top: 0.5cm;
    margin-left: 0.5cm;
    border: 3px solid black;
    border-top-right-radius: 450px;
    border-top-left-radius: 250px;
    border-bottom-left-radius: 350px;
    border-bottom-right-radius: 80%;
    z-index: -1;
}
.middle-sub-div2{
    animation: rtate 2s linear infinite;
    transform-origin: center;
}
@keyframes rotate{
    from { 
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(360deg);
    }
}
.middle-p1{
    font-size: 1.1cm;
    font-family: cursive;
}
.middle-p2{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1cm;
}
.select{
    margin-top: 2cm;
}
.breakfast{
    border: none;
    text-decoration: underline;
    background-color: rgb(219, 238, 255);
    text-underline-offset: 0.5cm;
    text-decoration-thickness: 0.06cm;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.1cm;
    text-decoration-color: rgb(235, 38, 38);
    margin-left: 10cm;
}
.lunch{
    border: none;
    text-decoration: underline;
    background-color: rgb(219, 238, 255);
    text-underline-offset: 0.5cm;
    text-decoration-thickness: 0.06cm;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.1cm;
    text-decoration-color: rgb(235, 38, 38);
    margin-left: 1cm;
}
.dinner{
    border: none;
    text-decoration: underline;
    background-color: rgb(219, 238, 255);
    text-underline-offset: 0.5cm;
    text-decoration-thickness: 0.06cm;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.1cm;
    text-decoration-color: rgb(235, 38, 38);
    margin-left: 1cm;
}
.drinks{
    border: none;
    text-decoration: underline;
    background-color: rgb(219, 238, 255);
    text-underline-offset: 0.5cm;
    text-decoration-thickness: 0.06cm;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.1cm;
    text-decoration-color: rgb(235, 38, 38);
    margin-left: 1cm;
}
.menu1{
    margin-left: 16cm;
    margin-top: 1.2cm;
}
.breakfast2{
    margin-left: 14cm;
    margin-top: 0.2cm;
    font-size: 0.9cm;
    font-family: cursive;
}
.foods1-one{
    border: solid black 0.05cm; 
    border-radius: 20px;
}
.foods1-two{
    border: solid black 0.05cm; 
    border-radius: 20px;
}
.foods1-three{
    border: solid black 0.05cm; 
    border-radius: 20px;
}
.foods2-one{
    border: solid black 0.05cm; 
    border-radius: 20px;
}
.foods2-two{
    border: solid black 0.05cm; 
    border-radius: 20px;
}
.foods2-three{
    border: solid black 0.05cm; 
    border-radius: 20px;
}
.foods1{
    display: inline-flex;
    margin-left: 5cm;
    gap: 2cm;
    margin-bottom: 1cm;
}
.one-pic{
    height: 7cm;
    width: 7cm;
}
.one-name{
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 0.8cm;
}
.one-price{
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 2.7cm;
    margin-top: -0.3cm;
}
.two-pic{
    height: 8cm;
    width: 7cm;
}
.two-name{
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 0.8cm;
    margin-top: -0.5cm;
}
.two-price{
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 2.8cm;
    margin-top: -0.3cm;
}
.three-pic{
    height: 7cm;
    width: 7cm;
}
.three-name{
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 1.2cm;
    margin-top: 0.5cm;
}
.three-price{
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 2.7cm;
    margin-top: -0.3cm;
}
.foods2{
    display: inline-flex;
    margin-left: 5cm;
    gap: 2cm;
}
.foods2-one-pic{
    height: 7cm;
    width: 7cm;
}
.foods2-one-name{
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 0.8cm;
}
.foods2-one-price{
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 2.7cm;
    margin-top: -0.3cm;
}
.foods2-two-pic{
    height: 7cm;
    width: 7cm;
}
.foods2-two-name{
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 0.3cm;
    margin-top: 0.5cm;
}
.foods2-two-price{
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 2.8cm;
    margin-top: -0.3cm;
}
.foods2-three-pic{
    height: 7cm;
    width: 7cm;
}
.foods2-three-name{
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 0.7cm;
    margin-top: 0.5cm;
}
.foods2-three-price{
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 2.7cm;
    margin-top: -0.3cm;
}
.lower-div{
    padding-left: 2.5cm;
    background-color: white;
    width: auto;
    margin-top: 3cm;
    padding-top: 2.5cm;
}
.lower-a-p-one{
    font-family: sans-serif;
    font-weight: 400;
    letter-spacing: 0.07cm;
}
.lower-a-p-two{
    font-family: cursive;
    font-size: 1cm;
    margin-top: -0.3cm;
}
.lower-profile-pic{
    border-radius: 50%;
    height: 3cm;
    width: 3cm;
    margin-top: 0.1cm;
    transform: rotate(-5deg);
}
.lower-a-p-three{
    color: rgb(235, 38, 38);
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.47cm;
    font-weight: 600;
}
.lower-a-p-four{
    font-family: 'Times New Roman', Times, serif;
    margin-top: -0.4cm;
    font-size: 0.5cm;
    font-weight: 600;
}
.lower-a-p-five{
    font-size: 2cm;
    margin-top: -0.55cm;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.lower-a-p-six{
    margin-top: -3cm;
}



@media screen and (max-width: 450px){
        body{
            background-color: rgb(219, 238, 255);
            max-width: 450px;
        }
        .delicious{
            font-size: 30px;
        }
        .phone-nav-btn{
            display: block;
            margin-left: 80px;
            margin-top: 20px;
            height: 35px;
            width: 180px;
            border-radius: 5px;
            background-color: transparent;
            border: solid black 0.04cm;
        }
        .phone-nav-btn-two{
            display: block;
            height: 1cm;
            width: 2cm;
            padding-right: 0.5cm;
            padding-left: 0.5cm;
            margin-left: 10px;
            margin-top: 20px;
            background-color: rgb(235, 38, 38);
            border-radius: 5px;
            align-items: center;
            font-size: 7px;
            font-display: initial;
            color: aliceblue;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            letter-spacing: 0.05cm;
            font-weight: 900;
            transition: 1s;
            cursor: pointer;
            border: 0.05cm solid black;
        }
        .phone-navbar{
            display: none;
            margin-left: -200px;
            margin-top: 2cm;
        }
        .phone-nav-home{
            width: 300px;
            text-decoration: underline;
            text-underline-offset: 10px;
            font-family: 'Times New Roman', Times, serif;
            letter-spacing: 4px;
            color: black;
            font-size: 20px;
        }
        .phone-nav-items{
            width: 300px;
            text-decoration: underline;
            text-underline-offset: 10px;
            font-family: 'Times New Roman', Times, serif;
            letter-spacing: 4px;
            color: black;
            font-size: 20px;
        }
        
        .phone-nav-btn-dropdown{
            width: 300px;
            height: 30px;
            margin-top: 10px;
            margin-left: -80px;
            background-color: rgb(235, 18, 18);
            border-radius: 15px;
            color: rgb(219, 238, 255);
            margin-bottom: 20px;
            font-family: 'Times New Roman', Times, serif;
            letter-spacing: 5px;
        }
        .middle-p1{
            margin-top: -2.2cm;
        }
        .middle-p2{
           font-display: auto;
        }
        .middle-btn{
            width: 150px;
        }
        .nav-btn{
            margin-left: 0px;
            display: block;
        }
        .middle-sub-div2{
            display: none;
        }
        .menu1{
            margin-left: 150px;
        }
        .breakfast2{
            margin-left: 80px;
        }
        .foods1{
           display: list-item; 
            margin-left: auto;
            margin-right: auto;
        }
        .foods2{
            display: list-item;
            margin-left: auto; 
         }
         .breakfast{
            margin-left: 10px;
            display: block;
            margin-bottom: 30px;
            justify-self: center;
            text-decoration: none;
            border: solid rgb(235, 18, 18) 0.04cm;
            border-radius: 20px;
            height: 40px;
            width: 300px;
         }
         .lunch{
            margin-left: 10px;
            display: block;
            margin-bottom: 30px;
            justify-self: center;
            text-decoration: none;
            border: solid rgb(235, 18, 18) 0.04cm;
            border-radius: 20px;
            height: 40px;
            width: 300px;
         }
         .dinner{
            margin-left: 10px;
            display: block;
            margin-bottom: 30px;
            justify-self: center;
            text-decoration: none;
            border: solid rgb(235, 18, 18) 0.04cm;
            border-radius: 20px;
            height: 40px;
            width: 300px;
         }
         .drinks{
            margin-left: 10px;
            display: block;
            margin-bottom: 30px;
            justify-self: center;
            text-decoration: none;
            border: solid rgb(235, 18, 18) 0.04cm;
            border-radius: 20px;
            height: 40px;
            width: 300px;
         }
         .foods1-one{
            border: solid black 0.05cm; 
            border-radius: 20px;
            width: 300px;
            justify-self: center;
            margin-bottom: 30px;
        }
        .foods1-two{
            border: solid black 0.05cm; 
            border-radius: 20px;
            width: 300px;
            justify-self: center;
            margin-bottom: 30px;
        }
        .foods1-three{
            border: solid black 0.05cm; 
            border-radius: 20px;
            width: 300px;
            justify-self: center;
        }
        .foods2-one{
            border: solid black 0.05cm; 
            border-radius: 20px;
            width: 300px;
            justify-self: center;
            margin-bottom: 30px;
        }
        .foods2-two{
            border: solid black 0.05cm; 
            border-radius: 20px;
            width: 300px;
            justify-self: center;
            margin-bottom: 30px;
        }
        .foods2-three{
            border: solid black 0.05cm; 
            border-radius: 20px;
            width: 300px;
            justify-self: center;
        }
        .lower-a-p-one{
            align-self: center;
        }
        .lower-a-p-two{
            margin-left: -40px;
        }
        .lower-a-p-three{
            margin-left: -40px;
        }
        .lower-a-p-four{
            margin-left: -40px;
        }
        .lower-a-p-five{
            margin-left: -40px;
        }
        .lower-a-p-six{
            margin-left: -40px;
        }
        .lower-profile-pic{
            margin-left: -40px;
        }
}